NEXT_PUBLIC_APP_URL=

# Auth
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SUPABASE_PROFILE_MEDIA_BUCKET=
NEXT_PUBLIC_SUPABASE_RESOURCE_FILES_BUCKET=
NEXT_PUBLIC_SUPABASE_MESSAGE_MEDIA_BUCKET=
NEXT_PUBLIC_SUPABASE_SUBMISSION_ATTACHMENTS_BUCKET=
NEXT_PUBLIC_SUPABASE_WHITEBOARD_BUCKET=

GEMINI_API_KEY=

RESEND_API_KEY=
EMAIL_FROM=
EMAIL_REPLY_TO=
