NEXT_PUBLIC_APP_URL=

# Auth
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database
DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

UPLOADTHING_TOKEN=
GEMINI_API_KEY=

RESEND_API_KEY=
EMAIL_FROM=
EMAIL_REPLY_TO=